<div class="form-search">
        <!--<span>
          <a href="/" title="Free Weather API">Home</a>
        </span>-->
        <button (click)="handleToggle()" class="btnSearch">Search</button>
      </div>
      <div [ngClass]="{open: isOpen, close: !isOpen}">
      <input
          type="search"
          name="search"
          class="searchInput"
          placeholder="search for city or/and CP or/and latitude,longitude "
          autocomplete="off"
          [value]="city"
          (change)="getCity()"
        />
       <input
          type="date"
          class="searchDate"
          [value]="date"
          (change)="getDate()"
        />
        <div>
         <button class="btn" (click)="handleChangePronost()">
          <div *ngIf="isDays; then ok else error"></div>
           <ng-template #ok>
            <span>See summary forecast</span>
           </ng-template>
          <ng-template #error>
            <span>Daily Forecast Detail</span>
          </ng-template>
          </button>
          <button (click)="resetValues()" class="reset">
            Reset Values
          </button>
        </div>
