.form-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    cursor: pointer;
    font-family:var(--family-dancing);
  }

  .form-search span a {
    text-decoration: none;
    color: #094631e1;
    text-transform: uppercase;
  }

  .form-search span:hover {
    transform: scale(1.4);
  }

  .btnSearch {
    width: 100px;
    border: none;
    height: 30px;
    background-color: #0a8057e0;
    color: #9be2e2fc;
    text-transform: uppercase;
    cursor: pointer;
    font-family:var(--family-dancing);
  }

  .btnSearch:hover {
    transform: scale(1.4);
  }

  .close {
    display: none;
  }

  .open {
    display: flex;
    flex-direction: column;
    box-shadow: 10px 5px 10px #22554434;
    padding: 5px 0;
  }

  .searchInput {
    padding: 5px 15px;
    width: 350px;
  }

  .btn {
    background-color: #21daa2;
    width: var(--width-value);
  }

  .searchDate {
    width: var(--width-value);
    padding: 0 15px;
  }

  .searchInput,
  .btn,
  .searchDate,
  .reset {
    height: 35px;
    border-radius: 25px;
    margin: 0 0 10px 20px;
    border: none;
    font-family:  Georgia, 'Times New Roman', Times, serif
  }
  .reset {
    width: 150px;
    background-color: #5fd4ad;
  }

  @media (min-width: 768px) {
    .open {
      padding-left: 2rem;
    }
    .searchInput {
      width: 450px;
    }
    .form-search span a {
      font-size: 1.5rem;
    }
  }