:host {
    width: 100%;
    text-align: center;
  }

  .table-responsive {
    display: flex;
    flex-direction: column;
    margin:0 15px;
    
  }
  .title-city {
    text-align: center;
    color:#033524;
  }

  .contain-info-time {
    display: flex;
    width:100%;
    overflow:scroll;
    scrollbar-color: yellow #800080;
scrollbar-width: 10px;
  }

  .astro{
    margin:10px 20px;
    background-color:#1bca90;
    color:#033524;
  }

  .astro tbody{
    padding:5px;
  }

  .icon {
    height: 73.48px;
  }
  .empty {
    height: 46px;
    
  }

  .container-table{
    width:100%;
  }
  table{
    border:none;
  }

  .table-row{
    color:#042c1f;
    
  }
  .default thead tr th{
    font-size:0.8rem;
    padding:6px;
    width:150px;
  }

  .contain-info-time tr th{
  padding:0 10px;
  }

  @media (min-width: 812px) {
    .container-table{
      min-width:768px;
    }
  }