@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Dancing+Script:wght@500&family=Luxurious+Roman&family=Playfair+Display:ital,wght@0,500;1,400&family=Roboto+Slab:wght@500&family=Rubik:wght@300&family=Yusei+Magic&display=swap');

.header {
    padding: 2rem;
    box-shadow:5px 10px 5px grey;
  }

  .link-page {
    font-size: 1.5rem;
    text-decoration:none;
    color:var(--bg-color-home);
    text-transform:uppercase
  }

  .link-page:hover {
    text-decoration: underline;
    font-size: 1.6rem;
  }