:host{
    width:100%;
    display:flex;
    justify-content:center;
  }
    .container {
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #0b1b1722;
      box-shadow:10px 10px 10px #0b1b17a6;
      opacity: 2;
      max-width:550px;
      margin: 20px;
      text-align:center;
    }

    .location-names {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin: 0 20px;
    }

    .location-names h2 {
      color: #086d4d;
    }

    .location-names div {
      width: 200px;
      font-size: 1.2rem;
      font-weight: bold;
      color: #031a14c1;
      text-align: end;
    }
    .pronost-days {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
    .container-condition{
      display:flex;
      justify-content:space-around;
      width:100%;
      margin-top:1rem;
      align-items:center;
      color:#1f1207;
      font-size:1.1rem;
    }

    .container-condition div{
      display:flex;
      flex-direction:column;
    }

    .container-condition div img{
      width:100px;
    }

    .text-span{
      text-align:center;
    }
    @media (min-width: 768px) {
     .container{
       min-width:550px;
     }
    }