<p>{{proxy$ | async}}</p>

<!--<div *ngIf="proxy$; then comp else nothing"></div>
<ng-template #comp>
<section class="container" id="container">
  <div class="location-names">
    <h2>{{proxy$.location.name}}</h2>
    <div>
      <p>${this.weather.location.country}</p>
      <span>${this.weather.location.region}</span>
    </div>
  </div>
  <div class="container-condition">
    <div>
      <img
        src=${this.weather.current.condition.icon}
        alt="${this.weather.current.condition.text}"
      />
      <span class="text-span">${this.weather.current.condition.text}</span>
    </div>
    <div>
      <p>Wind: <span>${this.weather.current.wind_kph}</span></p>

      <p>Precip: <span>${this.weather.current.precip_mm}</span></p>

      <p>
        Pressure: <span>${this.weather.current.pressure_mb}</span>
      </p>

      <p>${this.weather.current.temp_c}<small>ºC</small></p>
    </div>
  </div>
  <div class="pronost-days">
    ${this.weather &&
    this.weather.forecast.forecastday.map((days) => {
      return html`
        <div>
          <p>${days.date}</p>
          <img
            src="${days.day.condition.icon}"
            alt="days.day.condition.text"
          />
          <p>${days.day.maxtemp_c}<span>ºC</span></p>
        </div>
      `;
    })}
  </div>
`}
</section>
</ng-template>
<ng-template #nothing>
   <p>You are going to travel ??? Don't let time catch you off guard</p>
</ng-template>-->
