<app-search></app-search>
<!-- 
      </div>
      ${this.isDays
        ? html`<pronost-ui
            .weather="${this.weather}"
            .city="${this.city}"
          >
          </pronost-ui>`
        : html`<weather-ui .weather="${this.weather}"> </weather-ui>`}
    `-->
