  <main class="main-home">
    <div class="contain-firstImage">
      <img [src]="'/assets/planeta-tierra.png'" alt="planeta con nubes" />
    </div>
    <div class="contain-secondImage">
      <h2 class="cd-headline rotate-1">
        <span>You are going to travel?!</span> 
        <span>that time does not take you by surprise</span>
      </h2>
      <img [src]="'/assets/pajaro.png'" alt="planeta con nubes" />
    </div>
  </main>
  <footer class="footer">
    <span>
    Made by  <a href="//github.com/Vianam92">vianam92</a>
    </span>
   
  </footer>
