  .cd-headline{
  color:var(--bg-color-home);
  font-size:1.6rem;
  padding-left:25px;
  }

  .contain-firstImage,
  .contain-secondImage {
    width: 100%;
    display: flex;
  }

  .contain-firstImage img {
    width: 250px;
    animation: float 10s ease-in-out infinite;
  }

  .contain-secondImage {
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
  }

  .contain-secondImage img {
    width: 150px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    display: flex;
    padding: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .footer span a{
    font-size:1.1rem;
    text-decoration:none;
    color: var(--bg-color-home);
  }

  @keyframes float {
    0% {
      /*box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);*/
      transform: translatex(10px);
    }

    50% {
      /*box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);*/
      transform: translatex(200px);
    }

    100% {
      /*box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);*/
      transform: translatex(20px);
    }
  }

  @media (min-width: 812px) {

    .contain-secondImage, .contain-firstImage{
      min-width:508px;
      justify-content:center;
    }
    .contain-secondImage img{
      width:350px;
    }
    .contain-secondImage img{
      width:200px;
    }
  }
