/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --width-value: 250px;
    --bg-color-home: #2f4202;
    --family-dancing: 'Dancing Script', cursive;
}

body {
    height: 100vh;
    width: 100%;
    font-family: var(--family-dancing);
    ;
    background: #3495d6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #72e9c1, #6de9fa, #075050);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0ba7a7c7, #46d6e0, #f0d5cac4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}